.avatar-label {
  display: inline-block;
  cursor: pointer;
}

.avatar-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

div[clickable]:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.p-dropdown {
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
}

.p-inputgroup p-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}
