<p-card class="custom-card">
  <div class="p-grid">
    <div class="p-col">
      <h1>My Rental Spaces</h1>
    </div>
    <div class="p-col"></div>
  </div>
  <div class="p-grid">
    <div class="p-col-6">
      <div class="p-grid p-justify-between">
        <div class="p-col">
          <!-- This empty div is for spacing -->
        </div>
      </div>
    </div>
    <div class="p-col-6" style="text-align: right;">
      <span class="p-badge">{{ rentalSpaces.length }} Total Results</span>
    </div>
  </div>
  <app-rental-space-results
    [rentalSpaces]="rentalSpaces"
    [imageUrls]="imageUrls"
    [totalResults]="totalResults"
    [isHost]="false"
    (pageChange)="onPageChange($event)"
  ></app-rental-space-results>
</p-card>
