<!-- Navigation Bar -->
<div class="shell-header">
  <p-menubar [model]="items" *ngIf="!isLoggedIn">
    <!-- ... other code ... -->
    <ng-template pTemplate="end">
      <div>
        <p-avatar image="https://i.stack.imgur.com/l60Hf.png"
                  styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
      </div>
    </ng-template>
  </p-menubar>

  <p-menubar [model]="items" *ngIf="isLoggedIn">
    <!-- ... other code ... -->
    <ng-template pTemplate="end">
      <div *ngIf="!avatarUrl" clickable (click)="navigateToProfile()">
        <p-avatar label="{{fullNameAcronym}}" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
      </div>
      <div *ngIf="avatarUrl" clickable (click)="navigateToProfile()">
        <p-avatar (click)="navigateToProfile()" image="{{avatarUrl}}"
                  styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
      </div>
    </ng-template>
  </p-menubar>
</div>

<!-- Content Area -->
<div class="shell-content full-viewport">
  <router-outlet></router-outlet>
</div>

<p-toast></p-toast>

<!-- Footer -->
<!--<div class="shell-footer footer mt-auto py-3">-->
<!--  <p>Copyright &copy; 2023, Room Rental Application</p>-->
<!--</div>-->
