<div class="container">
  <div class="row">
    <div class="col-md-4 discussion-list-container">
      <div *ngFor="let discussion of discussionForm.controls; let i = index" class="chat-item" (click)="selectDiscussion(discussion)">
        <p-card class="chat-card">
          <div class="chat-item-content">
            <p-avatar [image]="discussionImages[i]" size="large" shape="circle" class="avatar"></p-avatar>
            <span class="info">Discuss with {{discussion.value.username}}</span>
          </div>
        </p-card>
      </div>
    </div>
    <div class="col-md-8">
      <app-discussion *ngIf="selectedDiscussion" [selectedDiscussion]="selectedDiscussion" [selectedUser]="selectedUser"></app-discussion>
    </div>
  </div>
</div>
